/* 1. Tell the body to center the clock on the screen */
body {
    background-image: url('summerBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    /* Center anything inside the body  perfectly */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Takes up 100% of the screen height */
    margin: 0;
}

/* 2. Your Clock Face Container */
#clock-parent {
     position: relative; /* 🌟 CRUCIAL: This anchors the absolute hands inside the circle */
     border-radius: 50%;
     border: 15px solid rgb(10, 123, 244);
     width: 200px;
     height: 200px;
     transition: border-color 4s ease;
}

#clock-parent:hover {
    border-color: rgb(93, 163, 238);
}

/* 3. The Shared Hand Positioning */
.hand {
    position: absolute;
    bottom: 50%; 
    left: 50%;   
    transform-origin: bottom; 
    background-color: rgb(15, 63, 105);
    border-radius: 15px;
      transition: transform 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
}

/* 4. The Specific Hour Hand Dimensions */
#hour-hand {
    height: 55px;
    width:6px;
       margin-left: -3px;
    transform: rotate(0deg);
}
 
#minute-hand, #second-hand{
    height: 80px;
    width: 5px;
    margin-left: -2.5px;
    transform: rotate(0deg);
}